.menu {
	margin-top: 20px;
	padding-left: 0;
	text-align: center;
	}

.menu .menu-item {
	display: inline-block;
	margin: 0 10px;
	font-weight: 700;
	}
.menu .menu-item a:hover {
	color: #ff9900;
	border: 2px solid #cfec52;	
}
.menu .menu-item a {
	color: #137f00;
	text-decoration: none;
}
.title {
	text-align: center;
	font-weight: 700;
	}

.paragraph {
	padding: 0 10%;
	
	}
.footer {
	text-align: center;
	font-weight: 700;
	}
	